<div class="row section-lead">
  <p>
  I'm a developer @ ThoughtWorks. 
  </p>
  <p>
  I live in San Francisco.
  </p>
</div>

<div class="row section-social">
  <h2>Find me</h2>
  <a href="/blog">Blog</a>

  <a href="https://www.facebook.com/daniel.g.coffman"><img src="images/social_icons/fb-(m).png" /></a>
  <a href="https://plus.google.com/+DanielCoffmanPercent3C3/"><img src="images/social_icons/g+-(m).png" /></a>
  <a href="http://www.pinterest.com/dcsharing/"><img src="images/social_icons/pinterest-(m).png" /></a>
  <a href="https://twitter.com/dc_minutiae"><img src="images/social_icons/twitter-(m).png" /></a>
  
  


</div>

<div class="row">
  <div id="hypem-widget"></div>
</div>


<div class="row footer">
  <p>♥</p>
</div>

<script type="text/javascript" src="http://hypem.com/widget/v2/loved/anathem/10/hype.js?bcol=ffffff&tcol=333&lcol=ef6bde"></script>