<div class="row section-lead">
  <p>
  Developer @ ThoughtWorks
  </p>
  <p>
  San Francisco
  </p>
</div>



<div class="row section-social">
<h2><a href="/blog">Blog</a></h2>


  <h2>Find me</h2>
  
<div id="social-links">
    <!-- Twitter -->
  <a href="https://twitter.com/dc_minutiae"><img src="images/icons/Twitter.png" /></a>

  <!-- G+ -->
  <a href="https://plus.google.com/+DanielCoffmanPercent3C3/"><img src="images/icons/Google-plus.png" /></a>
  
  <!-- Facebook -->
  <a href="https://www.facebook.com/daniel.g.coffman"><img src="images/icons/Facebook.png" /></a>
  
  <!-- Pinterest -->
  <a href="http://www.pinterest.com/dcsharing/"><img src="images/icons/Pinterest.png" /></a>
  
  <!-- LinkedIn -->
  <a href="http://www.linkedin.com/profile/view?id=168562600"><img src="images/icons/Linkedin.png" /></a>
  
  <!-- Tumblr -->
  <a href="http://forcesvsconsequences.tumblr.com/"><img src="images/icons/Tumblr.png" /></a>

</div>

</div>